<article class="{{ boxThumbnail.class }} box-thumbnail">
	<span class="box-thumbnail__image-wrapper" >
      <img src= "{{ boxThumbnail.img }}" class="box-thumbnail__image-img" alt="" >
	</span>
	<a href="{{ boxThumbnail.link }}" class="box-thumbnail__link" >
		<div class="box-thumbnail__title">{{ boxThumbnail.title }}</div>
		<div class="box-thumbnail__content">
			<div class="box-thumbnail__content-text">{{ boxThumbnail.content }}</div>
		</div>
	</a>
</article>
